#home {

 background: #ffc107;
    color: white;
}

.caixa {

    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5 ;
}
footer p{
    margin-top: 100px;
}
footer p a {
    font-size: 30px;
    margin: 5px 15px;
}
.carousel{
    margin-bottom: 100px;
}
.footer a{
    color: orangered;
    text-decoration: none;
}
/*.footer-content{
   
    color: orangered;
    display: flex;
    justify-content: space-around;
    justify-content: center;  
}*/
footer{
    background-color: indigo;
}
.copyright{

    color: orangered;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 50px;
    border-top: 1px solid gray;
    
    
}

/*li{
    list-style: none;
    font-size: 20px;
}*/
.itens{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;

}
.footer img{
    width: 208px;
    height: 36px;
    margin-top: 100px;

}
span{
    margin-left: 10px;
}
.icones{
    margin-top: 20px;
    margin-left: 125px;
}
.icones a{
   /* margin-left: 15px;
    margin-right: 5px;*/
}
/*.Unitel{
    margin-top: 40px;
    margin-left: 100px;

    }*/